<template>
  <q-page padding>
    <h1>Demo Page</h1>
    <div class="row q-gutter-md">
      <q-btn
        label="Open Job in Dialog with Frame"
        color="primary"
        @click="dialog1 = true"
      />
      <q-dialog v-model="dialog1">
        <q-card>
          <q-toolbar>
            <q-avatar>
              <img src="https://cdn.quasar.dev/logo-v2/svg/logo.svg" />
            </q-avatar>

            <q-toolbar-title
              ><span class="text-weight-bold">Quasar</span>
              Framework</q-toolbar-title
            >
            <q-btn flat round dense icon="close" v-close-popup />
          </q-toolbar>

          <q-card-section>
            <iframe
              style="height: 80vh; width: 50vh"
              height="50vh"
              width="400px"
              src="https://pwrk.gitlab.io/performance-tracker/job2.html"
            ></iframe>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-btn
        label="Open Job in Dialog with Carousel"
        color="primary"
        @click="dialog2 = true"
      />

      <q-dialog v-model="dialog2">
        <q-carousel
          transition-prev="slide-right"
          transition-next="slide-left"
          swipeable
          animated
          v-model="slider1"
          control-color="primary"
          navigation-icon="radio_button_unchecked"
          navigation
          padding
          height="50vh"
          class="bg-white shadow-1 rounded-borders"
        >
          <q-carousel-slide :name="1" class="column no-wrap flex-center">
            <h4>Job 9876543</h4>
            <iframe
              style="height: 80vh; width: 50vh"
              src="https://pwrk.gitlab.io/performance-tracker/job2.html"
            ></iframe>
          </q-carousel-slide>
          <q-carousel-slide :name="2" class="column no-wrap flex-center">
            <h4>Job 123456</h4>
            <iframe
              style="height: 80vh; width: 50vh"
              src="https://pwrk.gitlab.io/performance-tracker/job1.html"
            ></iframe>
          </q-carousel-slide>
        </q-carousel>
      </q-dialog>

      <q-btn
        label="Open 987654 in same Tab"
        color="primary"
        type="a"
        href="https://pwrk.gitlab.io/performance-tracker/job2.html"
      />

      <q-btn
        label="Open 123456 in same Tab"
        color="primary"
        type="a"
        href="https://pwrk.gitlab.io/performance-tracker/job1.html"
      />

      <q-btn
        label="Open 987654 in new Tab"
        color="primary"
        target="_blank"
        type="a"
        href="https://pwrk.gitlab.io/performance-tracker/job2.html"
      />

      <q-btn
        label="Open 123456 in new Tab"
        color="primary"
        target="_blank"
        type="a"
        href="https://pwrk.gitlab.io/performance-tracker/job1.html"
      />

      <q-carousel
        v-model="slider2"
        swipeable
        animated
        padding
        arrows
        navigation
        navigation-icon="radio_button_unchecked"
        height="300px"
        class="bg-grey col-12 rounded-borders"
      >
        <q-carousel-slide name="1" class="text-center">
          <q-icon name="style" size="56px" />
          <iframe
            height="1000"
            style="height: 1000px; width: 50vh"
            :srcdoc="job1"
          ></iframe>
        </q-carousel-slide>

        <q-carousel-slide name="2" class="text-center">
          <q-icon name="live_tv" size="56px" />
          <iframe
            height="1000"
            style="height: 1000px; width: 50vh"
            :srcdoc="job2"
          ></iframe>
        </q-carousel-slide>
      </q-carousel>
      <pre>{{ job2 }}</pre>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useQuasar } from 'quasar';

export default defineComponent({
  name: 'DemoPage',
  setup() {
    const $q = useQuasar();
    const job1 = ref('loading');
    const job2 = ref('loading');
    fetch('https://pwrk.gitlab.io/performance-tracker/job1.html')
      .then((resp) => resp.text())
      .then(function (data) {
        var el = document.createElement('html');
        var base = document.createElement('base');
        base.href = 'https://pwrk.gitlab.io/performance-tracker/';
        el.innerHTML = data;
        el.getElementsByTagName('head')[0].insertBefore(
          base,
          el.getElementsByTagName('head')[0].children[0]
        );
        setJob1(el.outerHTML);
      });
    fetch('https://pwrk.gitlab.io/performance-tracker/job2.html')
      .then((resp) => resp.text())
      .then(function (data) {
        var el = document.createElement('html');
        var base = document.createElement('base');
        base.href = 'https://pwrk.gitlab.io/performance-tracker/';
        el.innerHTML = data;
        el.getElementsByTagName('head')[0].insertBefore(
          base,
          el.getElementsByTagName('head')[0].children[0]
        );
        setJob2(el.outerHTML);
      });

    function setJob1(val: string) {
      job1.value = val;
    }
    function setJob2(val: string) {
      job2.value = val;
    }

    return {
      job1,
      job2,
      dialog1: ref(false),
      dialog2: ref(false),
      slider1: ref(1),
      slider2: ref(1),
      lc: $q.localStorage.getAll(),
    };
  },
});
</script>
