<template>
  <q-page padding>
    <div class="row">
      <div class="col-3">
        <SearchFacet
          class="q-mt-md"
          v-if="dateFacets"
          :checked="dates"
          :title="$t('label.date_published')"
          :facet="dateFacets[0]?.data"
          @change="handleFacetChange($event, 'createdAt')"
        />
        <SearchFacet
          v-if="channelFacets"
          class="q-mt-md"
          :checked="channel"
          :title="$t('label.channel')"
          :facet="channelFacets[0]?.data"
          @change="handleFacetChange($event, 'channel.keyword')"
        />
        <SearchFacet
          v-if="jobFacets"
          class="q-mt-md"
          :checked="job"
          :title="$t('label.job')"
          :facet="jobFacets[0]?.data"
          @change="handleFacetChange($event, 'job.keyword')"
        />
      </div>
      <div class="col-9">
        <q-table
          ref="tableRef"
          :title="$t('label.pageviews')"
          :columns="columns"
          :loading="searchState.isLoading"
          :rows="searchState.results"
          :rows-per-page-options="rowsPerPageOptions"
          :filter="filter"
          binary-state-sort
          @request="onRequest"
          v-model:pagination="pagination"
        >
          <template #body="props">
            <q-tr :props="props">
              <q-td key="createdAt" :props="props">
                <DateColumn
                  :createdAt="props.row._meta?.rawHit?._source?.createdAt"
                  :updatedAt="props.row._meta?.rawHit?._source?.updatedAt"
                />
              </q-td>
              <q-td
                style="max-width: 600px"
                class="text-left"
                key="title.keyword"
                :props="props"
              >
                <JobColumn
                  :title="props.row._meta?.rawHit?._source?.title"
                  :uri="props.row._meta?.rawHit?._source?.uri"
                  :referrer="props.row._meta?.rawHit?._source?.referrer"
                  :job="props.row._meta?.rawHit?._source?.job"
                />
              </q-td>
              <q-td key="channel" :props="props">
                {{ props.row._meta?.rawHit?._source?.channel }}
              </q-td>
              <q-td key="duration" :props="props">
                <DurationColumn
                  :duration="props.row._meta?.rawHit?._source?.duration"
                />
              </q-td>
            </q-tr>
          </template>
          <template v-slot:top-right>
            <q-input
              outlined
              clearable
              dense
              debounce="300"
              v-model="filter"
              :placeholder="$t('label.search')"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { SearchDriver } from '@elastic/search-ui';
import JobColumn from 'components/table/JobColumn.vue';
import DateColumn from 'components/table/DateColumn.vue';
import DurationColumn from 'components/table/DurationColumn.vue';
import config from './searchConfig';
import SearchFacet from 'components/SearchFacet.vue';

const columns = [
  {
    name: 'createdAt',
    required: true,
    label: 'Datum',
    align: 'left',
    sortable: true,
  },
  {
    name: 'title.keyword',
    required: true,
    label: 'Job Title',
    align: 'left',
    sortable: true,
  },
  {
    name: 'channel',
    required: true,
    label: 'Channel',
    align: 'right',
    sortable: true,
  },
  {
    name: 'duration',
    required: true,
    label: 'Duration',
    align: 'right',
    sortable: true,
  },
];

const driver = new SearchDriver(config);

const searchState = ref({});

const loading = ref(false);
const filter = ref('');
const tableRef = ref();
const rowsPerPageOptions = [5, 10, 25, 50, 100, 250, 500];

let pagination = ref({
  rowsNumber: 10000,
  sortBy: 'createdAt',
  descending: true,
  page: 1,
  rowsPerPage: 10,
});

const channel = ref([]);
const job = ref([]);
const dates = ref([]);

let channelFacets = ref({ data: [] });
let jobFacets = ref({ data: [] });
let dateFacets = ref({ data: [] });

function onRequest(props) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  const sortDirection = descending ? 'desc' : 'asc';
  console.log(page, rowsPerPage, sortBy, descending, props.filter);
  loading.value = true;

  if (page !== pagination.value.page) {
    driver.setCurrent(page);
  } else if (rowsPerPage != pagination.value.rowsPerPage) {
    driver.setResultsPerPage(rowsPerPage);
  } else if (
    descending != pagination.value.descending ||
    sortBy != pagination.value.sortBy
  ) {
    driver.setSort([{ field: sortBy, direction: sortDirection }]);
  } else {
    driver.setSearchTerm(props.filter);
  }
  loading.value = false;
  setPagination(sortDirection, sortBy);
}

function setPagination(sortDirection, sortBy) {
  let newState = searchState.value;
  pagination.value.page = newState.current;
  pagination.value.rowsPerPage = newState.resultsPerPage;
  pagination.value.sortBy = sortBy;
  pagination.value.descending = sortDirection === 'desc';
  pagination.value.rowsNumber = newState.totalResults;

  console.log(JSON.stringify(pagination.value));
}

function handleFacetChange(event, facet) {
  console.log('### Value ' + JSON.stringify(event), facet);

  const { value, checked } = event;
  const facetFromDriver = driver.getState().facets[facet];
  console.log('facetFromDriver', facetFromDriver, value);
  const valueforApi =
    facetFromDriver.type === 'range'
      ? facetFromDriver.find((item) => item.value.name === value).value
      : value;

  console.log('### API Val ' + JSON.stringify(valueforApi));

  if (checked) {
    if (facet == 'channel.keyword') {
      channel.value.push(value);
    } else if (facet == 'job.keyword') {
      job.value.push(value);
    } else if (facet == 'createdAt') {
      dates.value.push(value);
    }
    driver.addFilter(facet, valueforApi, 'any');
  } else {
    if (facet == 'channel.keyword') {
      const index = channel.value.indexOf(value);
      if (index > -1) {
        channel.value.splice(index, 1);
      }
    }

    if (facet == 'job.keyword') {
      const index = job.value.indexOf(value);
      if (index > -1) {
        job.value.splice(index, 1);
      }
    }

    if (facet == 'createdAt') {
      const index = dates.value.indexOf(value);
      if (index > -1) {
        dates.value.splice(index, 1);
      }
    }
    driver.removeFilter(facet, valueforApi, 'any');
  }
}

function getFacets(state, facet) {
  return state.facets[facet] ? state.facets[facet] : { data: [] };
}

onMounted(() => {
  driver.setSort([{ field: 'createdAt', direction: 'desc' }]);
  driver.setCurrent(1);
  driver.getState();
  driver.subscribeToStateChanges((state) => {
    searchState.value = state;
    dateFacets.value = getFacets(state, 'createdAt');
    channelFacets.value = getFacets(state, 'channel.keyword');
    jobFacets.value = getFacets(state, 'job.keyword');
  });
});
</script>
