<template>
  <q-page class="row justify-evenly">
    <div>
      <div>
        <q-tooltip max-width="150px" :delay="2000">
          Einschränken des Suchergebnisses auf unsere Testanzeigen.
        </q-tooltip>
        <q-option-group
          class="q-mt-md"
          v-model="jobs"
          :options="availableJobs"
          color="primary"
          type="checkbox"
          @update:model-value="
            onRequest({ pagination: pagination, filter: filter })
          "
        >
        </q-option-group>

        <div class="q-ma-sm">
          {{
            jobs.length === 0
              ? 'Alle Anzeigen'
              : jobs.length === 1
              ? 'Nur Anzeige ' + jobs[0]
              : 'Anzeige ' + jobs[1] + ' und ' + jobs[0]
          }}
        </div>
      </div>
    </div>
    <div>
      <q-input
        v-if="store.isLoggedIn"
        v-model="jobId"
        :label="$t('label.ams_job_id')"
        outlined
        clearable
        @keydown.enter.prevent="
          onRequest({ pagination: pagination, jobId: jobId })
        "
      ></q-input>
    </div>
    <div>
      <q-toggle
        class="q-mt-md"
        v-model="disableTracking"
        color="green"
        :label="
          $t(
            disableTracking
              ? 'label.tracking_disabled'
              : 'label.tracking_enabled'
          )
        "
      >
        <q-tooltip max-width="150px" :delay="2000">
          {{ $t('h.disable_tracking') }}
        </q-tooltip>
      </q-toggle>
    </div>

    <q-table
      v-model:pagination="pagination"
      :rows="rows"
      :columns="columns"
      :filter="filter"
      :rows-per-page-options="rowsPerPageOptions"
      :loading="loading"
      class="full-width"
      binary-state-sort
      row-key="id"
      dense
      ref="tableRef"
      :title="$t('label.pageviews')"
      @request="onRequest"
    >
      <template #body="props">
        <table-row :data="props" :disable-tracking="disableTracking" />
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <div class="text-left">
              {{ $t('title.pageview_details') }}: {{ props.row.id }}
              <visit-details
                :visit="props.row.attributes.visit"
                :visible="props.expand"
              />
            </div>
          </q-td>
        </q-tr>
      </template>
      <template #top-right="props">
        <q-input
          v-model="filter"
          class="q-mr-sm"
          outlined
          dense
          clearable
          debounce="300"
          :placeholder="$t('label.searching')"
        >
          <template #append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          flat
          round
          dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
          class="q-ml-md"
        />
      </template>
      <template v-slot:header-cell="props">
        <q-th :props="props">
          <q-tooltip
            v-if="props.col.name == 'duration'"
            max-width="150px"
            :delay="300"
          >
            {{ $t('h.time_to_read') }}
          </q-tooltip>
          <q-tooltip
            v-if="props.col.name == 'pageReload'"
            max-width="150px"
            :delay="300"
            >Anzahl der onLoad Events.
          </q-tooltip>
          <q-tooltip
            v-if="props.col.name == 'firstLoadingTime'"
            max-width="150px"
            :delay="300"
          >
            {{ $t('h.time_to_load') }}
          </q-tooltip>
          <q-tooltip
            v-if="props.col.name == 'visibilityChange'"
            max-width="150px"
            :delay="300"
            >Anzahl der Änderungen an der Sichtbarkeit (visibilityChange =
            hidden).
          </q-tooltip>
          {{ props.col.label }}
        </q-th>
      </template>
    </q-table>
  </q-page>
</template>

<script setup lang="ts">
import { api } from 'boot/axios';
import VisitDetails from 'components/VisitDetails.vue';
import TableRow from 'components/table/TableRow.vue';

//import ClickCharts from 'vue3-apexcharts';
import { ref, onMounted } from 'vue';
import columnsJson from 'components/columns.json';
import { useAuthStore } from 'stores/auth';

const token = import.meta.env.VITE_TOKEN;
const columns = columnsJson;
const rows = ref([]);
const store = useAuthStore();
const jobs = ref([]);
const jobId = ref('');
const filter = ref('');
const loading = ref(false);
const pagination = ref({
  sortBy: 'updatedAt',
  descending: true,
  page: 1,
  rowsPerPage: 10,
  rowsNumber: 10,
});

function onRequest(props) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  const params = {
    'pagination[page]': page,
    'pagination[pageSize]': rowsPerPage,
    populate: 'visit',
    sort: sortBy + ':' + (descending ? 'desc' : 'asc'),
  };

  var i = 0,
    length = jobs.value.length;

  while (i < length) {
    params['filters[job][$in][' + i + ']'] = jobs.value[i];
    i++;
  }

  console.log(props);

  if (props.filter) {
    params['_q'] = props.filter;
  }
  if (props.jobId) {
    params['filters[job][$eq][0]'] = props.jobId;
  }

  loading.value = true;
  api
    .get('api/pageviews', {
      params: params,
      headers: {
        accept: 'application/json',
        Authorization: 'Bearer ' + token,
      },
    })
    .then((response) => {
      const total = response.data.meta.pagination.total;
      const dataReturned = response.data.data;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.rowsNumber = total;
      pagination.value.page = page;
      pagination.value.sortBy = sortBy;
      pagination.value.descending = descending;
      rows.value.splice(0, rows.value.length, ...dataReturned);
    })
    .finally(() => {
      loading.value = false;
    });
}

onMounted(() => {
  // get initial data from server (1st page)
  onRequest({
    pagination: pagination.value,
    filter: undefined,
  });
});

const disableTracking = ref(true),
  rowsPerPageOptions = [5, 10, 25, 50, 100],
  availableJobs = [
    {
      label: '9876543',
      value: '9876543',
    },
    {
      label: '1234567',
      value: '1234567',
    },
  ];
</script>

<style>
.wrapDiv {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
</style>
