<template>
  <q-dialog v-model="persistent" persistent transition-hide="scale">
    <q-card
      class="bg-primary text-white"
      style="width: 1200px; max-width: 80vw"
    >
      <q-card-section>
        <div class="text-h6">{{ $t('label.job') }}: {{ job }}</div>
      </q-card-section>
      <q-card-section class="row">
        <StatisticDate :job="props.job" />
        <StatisticChannel :job="props.job" />
      </q-card-section>
      <q-card-actions align="right" class="bg-white text-primary">
        <q-btn flat label="OK" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import StatisticChannel from './StatisticChannel.vue';
import StatisticDate from './StatisticDate.vue';
import { ref, watch } from 'vue';

const props = defineProps({
  job: {
    type: [String],
    default: ''
  }
});

watch(
  () => props.job,
  (value) => {
    if (value != '') {
      persistent.value = true;
    }
  }
);

const persistent = ref(false);
</script>
