<template>
  <q-table
    class="col-md-6 col-sm-12"
    title="Klicks pro Tag"
    :rows="result.data"
    :columns="columns"
    row-key="day"
  />
</template>

<script setup lang="ts">
import { api } from 'boot/axios';
import { ref, onMounted } from 'vue';

const props = defineProps({
  job: {
    type: [String],
    default: ''
  }
});

onMounted(() => {
  loadData(props.job);
});

const loading = ref(false),
  result = ref(false),
  columns = [
    {
      name: 'date',
      field: 'date',
      label: 'Datum',
      sortable: true,
      align: 'left',
      format: (val) => new Date(val).toLocaleDateString('de-DE')
    },
    {
      name: 'clicks',
      field: 'clicks',
      label: 'Klicks',
      sortable: true,
      format: (val, row) => 1 * val + 1 * row.reload
    },
    { name: 'reload', field: 'reload', label: 'Reload', sortable: true },
    {
      name: 'Avg',
      field: 'sum_duration',
      label: 'Durchschnitt',
      sortable: true,
      format: (val, row) => msToTime(val / row.clicks)
    },
    {
      name: 'avg',
      field: 'sum_duration',
      label: 'Zeit Summe',
      sortable: true,
      format: (val) => msToTime(val)
    }
  ];

function msToTime(ms) {
  let seconds = (ms / 1000).toFixed(1);
  let minutes = (ms / (1000 * 60)).toFixed(1);
  let hours = (ms / (1000 * 60 * 60)).toFixed(1);
  let days = (ms / (1000 * 60 * 60 * 24)).toFixed(1);
  if (seconds < 60) return seconds + ' Sec';
  else if (minutes < 60) return minutes + ' Min';
  else if (hours < 24) return hours + ' Hrs';
  else return days + ' Days';
}

function loadData(job) {
  loading.value = true;

  api
    .get(`api/statistic/${job}/date`, {
      headers: {
        accept: 'application/json'
      }
    })
    .then((response) => {
      console.log(response);
      result.value = response;
    })
    .finally(() => {
      loading.value = false;
    });
}
</script>
