<template>
  <q-table
    class="col-md-6 col-sm-12"
    title="Klicks pro Kanal"
    :rows="result.data"
    :columns="columns"
    row-key="day"
  >
    <template v-slot:body="props">
      <q-tr>
        <q-td key="channel"> {{ props.row.channel }} </q-td>
        <q-td key="link" align="center">
          <q-btn
            :disable="props.row.url === null"
            dense
            type="a"
            rel="noreferrer noopener"
            target="_blank"
            size="xs"
            :href="props.row.url"
            icon="open_in_new"
            label="Stellenanzeige"
          >
            <q-tooltip :delay="500">{{ props.row.url }}</q-tooltip>
          </q-btn>
        </q-td>
        <q-td key="clicks" align="right">
          {{ props.row.clicks * 1 + props.row.reload * 1 }}
        </q-td>
        <q-td key="reload" align="right"> {{ props.row.reload }} </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { api } from 'boot/axios';
import { ref, onMounted } from 'vue';

const props = defineProps({
  job: {
    type: [String],
    default: '',
  },
});

onMounted(() => {
  loadData(props.job);
});

const loading = ref(false),
  result = ref(false),
  columns = [
    {
      name: 'channel',
      field: 'channel',
      label: 'Kanal',
      sortable: true,
      align: 'left',
    },
    { name: 'link', field: 'url', label: 'Link', align: 'center' },
    {
      name: 'clicks',
      field: 'clicks',
      label: 'Klicks',
      sortable: true,
    },
    { name: 'reload', field: 'reload', label: 'Reload' },
  ];

function loadData(job) {
  loading.value = true;

  api
    .get(`api/statistic/${job}/channel`, {
      headers: {
        accept: 'application/json',
      },
    })
    .then((response) => {
      result.value = response;
    })
    .finally(() => {
      loading.value = false;
    });
}
</script>
