<template>
  <span>
    <q-chip
      v-if="isGoogleJobClick()"
      size="sm"
      icon="img:svg/google_g_icon.svg"
      color="red"
      outline
      dense
      label="Jobs"
    />
    <q-chip
      v-if="isGoogleAdClick()"
      size="sm"
      icon="img:svg/google_g_icon.svg"
      outline
      color="blue"
      dense
      label="Ads"
    />
    <q-chip
      v-if="isFacebookAdClick()"
      size="sm"
      icon="img:svg/facebook_icon.svg"
      outline
      color="deep-purple-9"
      dense
      label="Ads"
    />
    <q-chip
      v-if="isJobrapidoAdClick()"
      size="sm"
      dense
      outline
      color="orange"
      class="q-mr-xs"
      label="Jobrapido Ads"
    />
    <q-chip
      v-if="isChannelAndRegionalPortal()"
      size="sm"
      color="primary"
      class="q-mr-xs"
      dense
    >
      {{ isChannelAndRegionalPortal() }}
    </q-chip>

    <q-chip
      v-if="isLinkFromMail()"
      :label="isLinkFromMail()"
      text-color="white"
      icon="mail"
      size="sm"
      color="purple"
      class="q-mr-xs text-white"
      dense
    />
  </span>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import JitChannelAndRegionalPortals from './jobsintown.json';
import MailReferrer from './mailreferrer.json';

const props = defineProps({
  url: {
    type: String,
  },
});

const refUrl = ref(props.url ?? 'https://example.com/');
const searchParams = ref(new URL(refUrl.value).searchParams);

function isGoogleJobClick() {
  var response = false,
    utm_source = searchParams.value.get('utm_source');
  response = utm_source === 'google_jobs_apply';
  return response;
}

function isGoogleAdClick() {
  var response = false,
    gclid = searchParams.value.get('gclid');
  response = typeof gclid === 'string';
  return response;
}

function isFacebookAdClick() {
  var response = false,
    fbclid = searchParams.value.get('fbclid');
  response = typeof fbclid === 'string';
  return response;
}

function isJobrapidoAdClick() {
  var response = false,
    jr = searchParams.value.get('jr_cid');
  response = typeof jr === 'string';
  return response;
}

function isChannelAndRegionalPortal() {
  var response = false;
  var hostname = refUrl.value != null ? new URL(refUrl.value).hostname : null;
  response = JitChannelAndRegionalPortals.includes(hostname);
  return response ? hostname : response;
}

function isLinkFromMail() {
  var response = false;
  var hostname = refUrl.value != null ? new URL(refUrl.value).hostname : null;
  response = MailReferrer.includes(hostname);
  return response ? hostname : response;
}

watch(
  () => props.url,
  (first, second) => {
    refUrl.value = first;
    searchParams.value = first
      ? new URL(first).searchParams
      : new URL(second).searchParams;
  }
);
</script>
