<template>
  <q-icon :name="getReferrerIcon()" size="xs" />
</template>

<script setup lang="ts">
import mapping from './channelMapping.json';
import JitChannelAndRegionalPortals from './jobsintown.json';

const unknownIcon = 'question_mark';

const props = defineProps({
  referrer: {
    type: String,
    default: null,
  },
  uri: {
    type: String,
    default: '',
  },
});

function getReferrerIcon() {
  var hostname;
  try {
    hostname =
      typeof props.referrer === 'string'
        ? new URL(props.referrer)?.hostname
        : new URL(props.uri).hostname;
  } catch (error) {
    hostname = 'example.com';
    console.log(error);
  }

  var index = mapping.findIndex((item) => item.h.includes(hostname));
  var icon;

  if (index < 0) {
    icon = analyseUrl(hostname, props.uri, props.referrer);
  } else {
    icon = 'img:icons/' + mapping[index].i;
  }

  if (icon === unknownIcon && JitChannelAndRegionalPortals.includes(hostname)) {
    icon = 'img:icons/jobsintown.ico';
  }
  return icon;
}

function analyseUrl(hostname: string, uri: string, referrer: string) {
  var icon = unknownIcon;

  if (referrer && referrer.match(/jobs-fürs?-[a-zäßüö-]+.de/)) {
    // like jobs-für-mönchengladbach.de
    // www.xn--jobs-fr-bonn-ilb.com
    icon = 'img:icons/jobs-fuer.ico';
  } else if (
    referrer &&
    referrer.match(/www.xn--jobs-frs?-[a-z0-9-]+\.(de|com)/)
  ) {
    // like
    // www.xn--jobs-fr-mnchengladbach-2hc4l.de
    // www.xn--jobs-frs-ruhrgebiet-bbc.de
    icon = 'img:icons/jobs-fuer.ico';
  } else if (
    referrer &&
    referrer.match(/(cdn\.aws|www|info)\.[a-z-]+jobanzeiger\.de/)
  ) {
    // like
    // https://cdn.aws.regio-jobanzeiger.de/proxy/s3/job/455/12775455/htmlzip/1660300983/htmlzip_extracted/personalwerk-rja-plus_839351.htm?variated_id=12775455&_=1660310143
    // https://info.regio-jobanzeiger.de/
    icon = 'img:icons/regio-jobanzeiger.png';
  } else if (
    referrer &&
    referrer.match(
      /www\.(jobs|stellenanzeigen)-in-([^b]*|(b([^o]|$)|bo([^n]|$)|bon([^n]|$)))*\.(de|com|net|info)/
    )
  ) {
    // like
    //
    // https://www.stellenanzeigen-in-bamberg.de/
    // https://www.jobs-in-leipzig.de/
    // but not www.jobs-in-bonn.de (die gehört Personalwerk)
    icon = 'img:icons/jobs-in.png';
  } else if (referrer === 'android-app://com.xing.android/') {
    // like android-app://com.xing.android/
    icon = 'img:icons/xing.ico';
  } else if (hostname.match(/www\.[a-z-]+jobanzeiger\.de/)) {
    icon = 'img:icons/regio-jobanzeiger.png';
  } else if (hostname.match(/xn--jobs-frs?-[a-z-]+\.de/)) {
    icon = 'img:icons/jobs-fuer.ico';
  } else if (hostname === 'www.jobsintown.de') {
    icon = analyseJobsintownUrl(uri);
  } else if (hostname === 'anzeigen.jobsintown.de') {
    icon = analyseUrlAnker(uri);
  }
  return icon;
}

function analyseJobsintownUrl(uri: string) {
  var icon = 'img:icons/jobsintown.ico',
    url;

  url = new URL(uri);
  if (url.pathname.match(/job\/(933|56)\/[0-9]+\.html/)) {
    icon = 'img:icons/xing.ico';
  }
  return icon;
}

function analyseUrlAnker(uri: string) {
  var icon = unknownIcon,
    url;

  url = new URL(uri);
  if (url.hash === '#jitcid=indeed') {
    // https://anzeigen.jobsintown.de/job/1087/840571.html#jitcid=indeed
    icon = 'img:icons/indeed.ico';
  } else if (url.hash === '#pk_campaign=indeed-fliestext') {
    // https://anzeigen.jobsintown.de/job/1675/839861.html#pk_campaign=indeed-fliestext
    icon = 'img:icons/indeed.ico';
  } else if (url.hash === '#jitcit=jobkicks.de') {
    icon = 'img:icons/jobkicks.ico';
  } else if (url.hash === '#pk_campaign=convigo') {
    icon = 'img:icons/convigo.ico';
  } else if (url.hash === '#jitcid=jobturbo') {
    icon = 'img:icons/jobturbo.ico';
  } else if (url.hash === '#jitcid=jobworld') {
    icon = 'img:icons/jobworld.ico';
  } else if (url.hash === '#jitcid=experteer') {
    icon = 'img:icons/experteer.ico';
  } else if (url.hash === '#jitcid=salesjob.de') {
    icon = 'img:icons/salesjob.ico';
  } else if (url.hash === '#jitcid=kimeta-plus') {
    icon = 'img:icons/kimeta.ico';
  } else if (url.hash === '#jitcid=jooble') {
    icon = 'img:icons/jooble.ico';
  } else if (url.hash === '#pk_campaign=portal-873') {
    icon = 'img:icons/jobtome.ico';
  } else if (url.hash === '#pk_campaign=portal-1873') {
    icon = 'img:icons/jobtome.ico';
  } else if (url.hash === '#pk_campaign=portal-1889') {
    icon = 'img:icons/talent.png';
  } else if (url.hash === '#pk_campaign=portal-2215') {
    icon = 'img:icons/tideri.de.ico';
  } else if (url.hash === '#pk_campaign=portal-2219') {
    icon = 'img:icons/stellenonline.ico';
  } else if (url.hash === '#jitsid=stellenanzeigen') {
    icon = 'img:icons/stellenanzeigen.ico';
  } else if (url.hash === '#pk_campaign=portal-2121') {
    icon = 'img:icons/meinestadt.png';
  } else if (url.hash === '#pk_campaign=portal-2199') {
    icon = 'img:icons/ebay-kleinanzeigen.png';
  } else if (url.hash === '#pk_campaign=portal-2283') {
    //icon = 'img:icons/stellenonline.ico';
  }

  return icon;
}
</script>
