<template>
  <q-select
    v-model="locale"
    :options="localeOptions"
    label-color="white"
    stack-label
    emit-value
    options-dense
  >
    <template v-slot:option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section avatar>
          <q-icon :name="icon(scope.opt.value)" />
        </q-item-section>
        <q-item-section>
          <q-item-label caption>{{ $t(scope.opt.label) }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
    <template v-slot:selected>
      <q-avatar
        v-if="locale"
        color="primary"
        text-color="white"
        :icon="icon(locale)"
      />
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';

const { locale } = useI18n({ useScope: 'global' }),
  localeOptions = [
    { value: 'en-US', label: 'english' },
    { value: 'de-DE', label: 'german' },
    { value: 'fr-FR', label: 'french' },
  ];

function icon(v: string) {
  return 'img:flags/' + v.substring(0, 2) + '.svg';
}
</script>
