<template>
  <div v-if="facet">
    <div class="row">
      <div class="col-12">
        {{ title }}
      </div>
    </div>
    <div class="row" :key="index" v-for="(facetItem, index) in facet">
      <div class="col-8">
        <q-checkbox
          :model-value="checked && checked.includes(facetItem.value)"
          @update:model-value="
            $emit('change', { value: facetItem.value, checked: $event })
          "
          size="xs"
          val="xs"
          :label="facetItem.value"
        />
      </div>
      <div class="col-2">
        {{ facetItem.count }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  defineProps({
    facet: {
      type: Object,
      required: true,
    },
    checked: {
      type: Array,
      required: true,
    },
    title: {
      require: true,
      type: String,
    },
  });
</script>
