<template>
  <div>
    <q-table
      :title="
        $t('title.all_pageviews_by_visit') + ': ' + (visit.data?.id ?? 'unkown')
      "
      :rows="pageviews.data"
      :columns="columns"
      row-key="name"
    >
      <template #body="props">
        <table-row :data="props" :visits="true" />
      </template>
    </q-table>
  </div>
</template>

<script lang="ts">
import { api } from 'boot/axios';
import { defineComponent, ref, watch } from 'vue';
import TableRow from 'src/components/table/TableRow.vue';

import columns from './columns.json';

const token = import.meta.env.VITE_TOKEN;

export default defineComponent({
  name: 'VisitDetails',
  components: {
    TableRow,
  },
  props: {
    visit: {
      type: Object,
    },
    visible: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const pageviews = ref([]);

    function getPageviews(data: { visit: Visit; visible: boolean }) {
      const params = {};
      params['filters[$and][0][visit][id][$eq]'] = data.visit.data.id;

      api
        .get('api/pageviews', {
          params: params,
          headers: {
            accept: 'application/json',
            Authorization: 'Bearer ' + token,
          },
        })
        .then((response) => {
          pageviews.value = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return pageviews;
    }

    watch(props, (newValue) => {
      if (newValue.visible === true) {
        getPageviews(newValue);
      }
    });

    return { getPageviews, pageviews, columns };
  },
});
</script>
