<template>
  <div class="wrapDiv">
    {{ new Date(updatedAt).toLocaleString() }}
    <q-tooltip :delay="400">
      {{ $t('label.created') }}:
      {{ new Date(createdAt).toLocaleString() }}
    </q-tooltip>
  </div>
</template>

<script setup lang="ts">
defineProps({
  updatedAt: {
    type: String,
    required: true,
  },
  createdAt: {
    type: String,
    required: true,
  },
});
</script>
