<template>
  <div>
    <div v-if="pixel">
      <q-tooltip :delay="300">
        Zeitmessung per Pixeltracking nicht verfügbar
      </q-tooltip>
      -
    </div>
    <div v-else-if="duration == 0">0</div>
    <div v-else-if="duration < 1000">{{ Math.round(duration) }} ms</div>
    <div v-else-if="duration < 60000">
      <q-tooltip :delay="300">{{ duration }} ms</q-tooltip>
      {{ Math.round(duration / 1000) }} s
    </div>
    <div v-else-if="duration < 3600000">
      <q-tooltip :delay="300">{{ duration }} ms</q-tooltip>
      {{ Math.round(duration / 6000) / 10 }} m
    </div>
    <div v-else-if="duration < 86400000">
      <q-tooltip :delay="300">{{ duration }} ms</q-tooltip>
      {{ Math.round(duration / 360000) / 10 }} Std.
    </div>
    <div v-else>
      <q-tooltip :delay="300">{{ duration }} ms</q-tooltip>
      {{ Math.round(duration / 86400000) }} Tage
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  duration: {
    type: [Number, String],
    required: true,
  },
  pixel: {
    type: [Boolean, String],
    required: false,
    default: false,
  },
});
</script>
