<template>
  <div class="wrapDiv">
    <div class="text-left pointer ellipsis">
      <ContextMenu
        :uri="props.uri"
        :referrer="props.referrer"
        :job="props.job"
      />
      <ChannelIcon :referrer="props.referrer" :uri="props.uri" />
      {{ props.title }}
    </div>

    <q-btn
      flat
      dense
      size="xs"
      type="a"
      rel="noreferrer noopener"
      target="_blank"
      :href="disableTrackingUrl(props.uri)"
      class="text-left"
      icon="open_in_new"
    >
      <q-tooltip transition-show="scale" transition-hide="scale" :delay="1000">
        <template #default>
          Referrer:
          {{
            hostname(props.referrer) === 'example.com'
              ? 'Unterdrückt'
              : hostname(props.referrer)
          }}
          <q-list dense>
            <q-item v-for="(param, i) in query(props.referrer)" v-bind:key="i">
              <div>{{ param }}</div>
            </q-item>
          </q-list>
        </template>
      </q-tooltip>
    </q-btn>
    <q-btn
      flat
      dense
      size="xs"
      :disabled="!store.isLoggedIn"
      @click="selectedJob = props.job"
      icon="bar_chart"
    >
      <ContextMenu
        :uri="props.uri"
        :referrer="props.referrer"
        :job="props.job"
      />
    </q-btn>
    <AnalyseParam :url="props.referrer" />
    <DetailDialog :job="selectedJob" @hide="selectedJob = ''" />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import ChannelIcon from 'components/ChannelIcon.vue';
import ContextMenu from 'components/table/JobColumnContextMenu.vue';
import DetailDialog from 'components/statistic/DetailDialog.vue';
import AnalyseParam from 'components/AnalyseParam.vue';
import { useAuthStore } from 'stores/auth';
import { hostname, url } from 'components/table/utils';

const props = defineProps({
  uri: {
    type: String,
    required: false,
    default: ''
  },
  referrer: {
    type: String,
    required: false,
    default: ''
  },
  title: {
    type: String,
    required: false,
    default: ''
  },
  job: {
    type: String,
    required: false,
    default: ''
  },
  disableTracking: {
    type: Boolean,
    required: false,
    default: true
  }
});

const store = useAuthStore();
const selectedJob = ref('');

function disableTrackingUrl(v) {
  if (props.disableTracking) {
    var url;
    if (v === '' || v.startsWith('/api/pageview/')) {
      v = 'https://example.com';
    }
    try {
      url = new URL(v);
    } catch (error) {
      console.log(error);
    }

    if (url) {
      url.searchParams.append('disable-tracking', '1');
      v = url.toString();
    }
  }
  return v;
}

function query(val: string) {
  const params = url(val);
  return params?.searchParams.entries();
}
</script>
