<template>
  <q-menu context-menu>
    <q-list dense style="min-width: 100px">
      <q-item clickable v-close-popup @click.stop.prevent="copy(props.uri)">
        <q-item-section>Copy URI</q-item-section>
      </q-item>
      <q-item
        clickable
        v-close-popup
        @click.stop.prevent="copy(hostname(props.uri))"
      >
        <q-item-section>Copy URI Domain</q-item-section>
      </q-item>
      <q-separator />
      <q-item
        clickable
        v-close-popup
        @click.stop.prevent="copy(props.referrer)"
      >
        <q-item-section>Copy Referrer</q-item-section>
      </q-item>
      <q-item
        clickable
        v-close-popup
        @click.stop.prevent="copy(hostname(props.referrer))"
      >
        <q-item-section>Copy Referrer Domain</q-item-section>
      </q-item>
      <q-separator />
      <q-item clickable v-close-popup @click.stop.prevent="copy(props.job)">
        <q-item-section> Copy AMS jobId {{ props.job }} </q-item-section>
      </q-item>
    </q-list>
  </q-menu>
</template>

<script setup lang="ts">
import { copyToClipboard, useQuasar } from 'quasar';
import { ref, watch } from 'vue';
import { hostname } from 'components/table/utils';
const $q = useQuasar();
const clipboard = ref('');

const props = defineProps({
  referrer: {
    type: String,
    default: null,
  },
  uri: {
    type: String,
    default: '',
  },
  job: {
    type: String,
    default: '',
  },
});

function copy(val: string) {
  copyToClipboard(val)
    .then(() => {
      console.log('2 Success COPY', val);
      clipboard.value = val;
      message('Wert erfolgreich kopiert');
    })
    .catch((e) => {
      console.log('2 Error COPY', e);
    })
    .finally(() => {
      return val;
    });
}

watch(
  () => clipboard,
  (newValue: string) => {
    message(newValue);
  }
);
function message(message: string) {
  $q.notify({
    type: 'positive',
    message: message,
  });
}
</script>
