<template>
  <q-tr :props="data">
    <q-td key="updatedAt" style="width: 90px" :props="data">
      <DateColumn
        :createdAt="props?.data?.row.attributes.createdAt"
        :updatedAt="props?.data?.row.attributes.updatedAt"
      />
    </q-td>
    <q-td key="pageviews" style="max-width: 250px" :props="data">
      <q-btn
        v-if="!visits"
        flat
        dense
        @click="props.data.expand = !props.data.expand"
        :icon="
          props?.data?.row.attributes.visit?.data
            ? props.data.expand
              ? 'remove'
              : 'add'
            : 'star'
        "
        :disabled="!props?.data?.row.attributes.visit?.data"
        label="1"
      />
      <q-knob
        readonly
        show-value
        font-size="10px"
        class="text-red"
        :model-value="props?.data?.row.attributes.scrollMax * 100 || 0"
        size="28px"
        :thickness="0.3"
        :color="
          props?.data?.row.attributes.scrollMax > 0.4
            ? 'green'
            : props?.data?.row.attributes.scrollMax > 0.1
            ? 'yellow'
            : 'red'
        "
        track-color="grey-3"
      />
      <q-tooltip :delay="300">
        <template #default>
          {{ $t('label.pageview') }}: {{ props?.data?.row.id }} <br />
          {{ $t('label.technology') }}:
          {{
            props?.data?.row.attributes.visit?.data
              ? 'Javascript'
              : $t('label.pixel')
          }}
          <br />
          {{ $t('label.visit') }}:
          {{
            props?.data?.row.attributes.visit.data?.id ?? $t('label.unknown')
          }}
          <br />
          AMS job_id: {{ props?.data?.row.attributes.job }}
          <br />
          {{ $t('label.scrolled') }}:
          {{ props?.data?.row.attributes.scrollMax * 100 || 0 }}%
          <br />
          {{ $t('label.viewport') }}:
          {{ props?.data?.row.attributes.viewHeight }} x
          {{ props?.data?.row.attributes.viewWidth }}
        </template>
      </q-tooltip>
    </q-td>
    <q-td key="pageReload" style="max-width: 100px" :props="data">
      {{
        visits || props?.data?.row.attributes.visit?.data
          ? props?.data?.row.attributes.pageReload - 1
          : '-'
      }}
    </q-td>
    <q-td key="visibilityChange" style="max-width: 100px" :props="data">
      {{
        visits || props?.data?.row.attributes.visit?.data
          ? props?.data?.row.attributes.visibilityChange - 1
          : '-'
      }}
    </q-td>
    <q-td key="job" style="max-width: 600px" class="text-left" :props="data">
      <JobColumn
        :title="props?.data?.row.attributes.title"
        :uri="props?.data?.row.attributes.uri"
        :referrer="props?.data?.row.attributes.referrer"
        :job="props?.data?.row.attributes.job"
        :disableTracking="props.disableTracking"
      />
    </q-td>
    <q-td key="clicked" style="max-width: 250px" :props="data">
      <q-chip
        v-if="props?.data?.row.attributes.emailClicked"
        outline
        color="green"
        icon="email"
        :icon-right="props?.data?.row.attributes.applyClicked ? 'star' : ''"
        dense
        >Email
        <q-tooltip :delay="400" max-width="100px">{{
          props?.data?.row.attributes.applyClicked
            ? 'Bei diesem Pageview wurde auf eine Email Adresse geklickt, die als Bewerbungsemail gekennzeichnet war'
            : 'Bei diesem Pageview wurde auf eine Email Adresse geklickt.'
        }}</q-tooltip>
      </q-chip>
      <q-chip
        v-if="props?.data?.row.attributes.linkClicked"
        icon="open_in_new"
        :icon-right="props?.data?.row.attributes.applyClicked ? 'star' : ''"
        dense
      >
        Link
        <q-tooltip :delay="400" max-width="100px">
          {{
            props?.data?.row.attributes.applyClicked
              ? 'Bei diesem Pageview wurde auf einen Link geklickt, der als Bewerbungsemail gekennzeichnet war'
              : 'Bei diesem Pageview wurde auf einen Link geklickt.'
          }}
        </q-tooltip>
      </q-chip>
    </q-td>
    <q-td key="channel" style="max-width: 250px" :props="data">
      {{ props?.data?.row.attributes.channel }}
    </q-td>
    <q-td key="firstLoadingTime" style="max-width: 250px" :props="data">
      <DurationColumn
        :duration="props?.data?.row.attributes.firstLoadingTime"
        :pixel="!props?.data?.row.attributes.visit?.data && !visits"
      />
    </q-td>
    <q-td key="duration" style="max-width: 250px" :props="data">
      <DurationColumn
        :duration="props?.data?.row.attributes.duration"
        :pixel="!props?.data?.row.attributes.visit?.data && !visits"
      />
    </q-td>
  </q-tr>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import JobColumn from 'components/table/JobColumn.vue';
import DateColumn from 'components/table/DateColumn.vue';
import DurationColumn from 'components/table/DurationColumn.vue';

export default defineComponent({
  name: 'TableRow',
  props: {
    data: {
      type: Object,
    },
    disableTracking: {
      type: Boolean,
    },
    visits: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    JobColumn,
    DateColumn,
    DurationColumn,
  },
  setup(props) {
    return {
      scrollMax: ref(0),
      props,
    };
  },
});
</script>
