<template>
  <div class="q-ml-lg">
    <q-btn-dropdown v-if="store.isLoggedIn" flat no-caps>
      <template #label>
        <div class="row items-center no-wrap">
          <q-avatar>
            <q-icon name="person" />
          </q-avatar>
        </div>
      </template>
      <q-list>
        <q-item v-close-popup>
          <q-item-section>
            <q-item-label>
              {{ store.user.firstname }}
              {{ store.user.lastname }}
            </q-item-label>
            <q-item-label caption>{{ store.user.email }}</q-item-label>
          </q-item-section>
        </q-item>

        <user-menu />

        <q-item v-close-popup clickable>
          <q-item-section>
            <q-btn class="bg-primary text-white" @click="logout">
              {{ $t('login.logout') }}
            </q-btn>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
    <q-btn
      v-else
      outline
      :label="$t('login.login')"
      class="align-items-center"
      @click="prompt = true"
    />
    <q-dialog v-model="prompt" persistent>
      <q-card style="width: 400px; max-width: 60vw">
        <q-bar>
          <q-icon name="login" />
          <div>{{ $t('welcome') }}</div>

          <q-space />

          <q-btn v-close-popup dense flat icon="close">
            <q-tooltip>{{ $t('login.close') }}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="signin" :label="$t('login.login')" />
          <q-tab name="signup" :label="$t('login.register')" :disable="admin" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="signin">
            <div class="text-h6">{{ $t('login.login') }}</div>
            <q-card-section class="q-mb-md">
              <q-input
                v-model="username"
                class="q-pa-md"
                outlined
                :label="
                  admin ? $t('login.email') : $t('login.email_or_username')
                "
                dense
              />
              <q-input
                v-model="password"
                class="q-pa-md"
                :type="isPwd ? 'password' : 'text'"
                outlined
                :label="$t('login.password')"
                dense
              >
                <template #append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
            </q-card-section>

            <q-card-actions
              align="between"
              class="relative-position bg-grey-2 absolute-bottom text-primary"
            >
              <q-btn
                no-caps
                flat
                :label="$t('login.forgot_password')"
                @click="forgot_password = true"
              />
              <q-btn
                no-caps
                color="primary"
                :label="$t('login.login')"
                :loading="isLoading"
                @click="login"
              />
            </q-card-actions>
          </q-tab-panel>

          <q-tab-panel name="signup">
            <div class="text-h6">{{ $t('login.register') }}</div>
            <q-card-section class="q-mb-md">
              <q-input
                v-model="username"
                class="q-pa-md"
                outlined
                :label="$t('login.username')"
                dense
              />
              <q-input
                v-model="email"
                class="q-pa-md"
                outlined
                :label="$t('login.email')"
                dense
              />
              <q-input
                v-model="password"
                class="q-pa-md"
                :type="isPwd ? 'password' : 'text'"
                outlined
                :label="$t('login.password')"
                dense
              >
                <template #append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
              <q-input
                v-model="password_repeat"
                class="q-pa-md"
                :type="isPwd ? 'password' : 'text'"
                outlined
                :label="$t('login.password_repeat')"
                dense
              >
                <template #append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
            </q-card-section>
            <q-card-actions
              align="right"
              class="relative-position bg-grey-2 absolute-bottom text-primary"
            >
              <q-btn
                no-caps
                color="primary"
                :label="$t('login.register')"
                :loading="isLoading"
                @click="register"
              />
            </q-card-actions>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="forgot_password"
      persistent
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card style="width: 300px">
        <q-card-section>
          <div class="text-h6">{{ $t('login.forgot_password') }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            v-model="email"
            class="q-pa-md"
            outlined
            :label="$t('login.email')"
            dense
          />
        </q-card-section>

        <q-card-actions align="right" class="bg-grey-2 text-primary">
          <q-btn
            v-close-popup
            color="primary"
            :label="$t('login.reset_password')"
            @click="forgotPassword"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { api } from 'boot/axios';
import UserMenu from 'components/login/UserMenu.vue';
import { defineComponent, ref } from 'vue';
import { useQuasar } from 'quasar';
import { useAuthStore } from 'stores/auth';

export default defineComponent({
  name: 'LoginStrapi',
  components: {
    UserMenu,
  },
  props: {
    admin: {
      type: Boolean,
      required: false,
      default: false,
    },
    show: {
      type: String,
      default: '',
    },
  },
  setup() {
    const store = useAuthStore();
    const $q = useQuasar();
    return {
      prompt: ref(false),
      store,
      tab: ref('signin'),
      forgot_password: ref(false),
      resetStore() {
        store.$reset();
      },
      loginSuccess() {
        $q.notify({
          message: 'Logged in successfully!',
          color: 'green',
          type: 'positive',
        });
      },
      loginFail(data) {
        console.log(data);
        $q.notify({
          message: 'Login Failed. ' + data.error.message,
          color: 'red',
          type: 'negative',
        });
      },
      registerSuccess() {
        $q.notify({
          message: 'Registered successfully! Please check your Mail.',
          color: 'green',
          type: 'positive',
        });
      },
      registerFail(data) {
        console.log('ERROR: ', data);
        $q.notify({
          message: 'Registration failed. ' + data.error.message,
          color: 'red',
          type: 'negative',
        });
      },
      forgotPasswordSuccess() {
        $q.notify({
          message: 'Forgot Password! Please check your Mail.',
          color: 'green',
          type: 'positive',
        });
      },
      forgotPasswordFail(data) {
        console.log('ERROR: ', data);
        $q.notify({
          message: 'Forgot Password failed. ' + data.error.message,
          color: 'red',
          type: 'negative',
        });
      },
    };
  },
  data() {
    return {
      username: '',
      password: '',
      email: '',
      password_repeat: '',
      isPwd: true,
      isLoading: false,
      user: {
        username: '',
        email: '',
      },
    };
  },
  computed: {
    loginUrl() {
      return this.admin ? '/admin/login' : '/api/auth/local';
    },
  },
  mounted() {
    this.checkUserLogged();
    if (this.show === 'login') {
      this.prompt = true;
      this.tab = 'signin';
    }
    if (this.show === 'register') {
      this.prompt = true;
      this.tab = 'signup';
    }
  },
  methods: {
    logout() {
      console.log('LOGOUT', this.store);
      this.resetStore();
      console.log(this.store);
    },
    login() {
      let data;
      if (this.admin) {
        data = {
          email: this.username,
          password: this.password,
        };
      } else {
        data = {
          identifier: this.username,
          password: this.password,
          populate: 'company',
        };
      }
      this.isLoading = true;
      api
        .post(this.loginUrl, data)
        .then((response) => {
          if (this.admin) {
            this.store.user = response.data.data.user;
            this.store.token = response.data.data.token;
          } else {
            this.store.user = response.data.user;
            this.store.token = response.data.jwt;
          }
          this.loginSuccess();
          this.prompt = false;
          this.checkUserLogged();
        })
        .catch((error) => {
          this.loginFail(error.response.data);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    register() {
      this.isLoading = true;
      api
        .post('/api/auth/local/register', {
          username: this.username,
          email: this.email,
          password: this.password,
        })
        .then((response) => {
          this.store.token = response.data.jwt;
          this.store.user = response.data.data.user;
          this.registerSuccess();
          this.prompt = false;
          this.checkUserLogged();
        })
        .catch((error) => {
          this.registerFail(error.response.data);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    forgotPassword() {
      this.isLoading = true;
      api
        .post('/api/auth/forgot-password', {
          email: this.email,
        })
        .then((response) => {
          console.log(response);
          this.forgotPasswordSuccess();
          this.prompt = false;
        })
        .catch((error) => {
          this.forgotPasswordFail(error.response.data);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    checkUserLogged() {
      const token = this.store.token;
      if (token != null) {
        this.store.isLoggedIn = true;
      }
    },
  },
});
</script>
