<template>
  <div>
    <q-item v-close-popup clickable to="/profile">
      <q-item-section avatar>
        <q-avatar
          color="secondary"
          size="sm"
          text-color="white"
          icon="account_circle"
        />
      </q-item-section>
      <q-item-section>{{ $t('login.profile') }}</q-item-section>
    </q-item>
  </div>
</template>

<script setup lang="ts"></script>
