<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title
          ><q-btn label="Performance Tracker" flat no-caps to="/"
        /></q-toolbar-title>
        <LoginStrapi />
        <LanguageSwitch />
        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered>
      <q-list>
        <q-item-label header> Essential Links </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
        <q-item clickable to="/demo">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Demo</q-item-label>
            <q-item-label caption>Performance Tracke in action</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/search">
          <q-item-section avatar>
            <q-icon name="search" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ $t('label.search') }}</q-item-label>
            <q-item-label caption>Search with Elastic</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import EssentialLink from '../components/EssentialLink.vue';
import LanguageSwitch from '../components/LanguageSwitch.vue';
import LoginStrapi from '../components/login/LoginStrapi.vue';

const linksList = [
  {
    title: 'links.docs.title',
    caption: 'links.docs.caption',
    icon: 'school',
    link: 'https://gitlab.com/pwrk/performance-tracker/-/blob/main/README.md',
  },
  {
    title: 'links.gitlab.title',
    caption: 'links.gitlab.caption',
    icon: 'code',
    link: 'https://gitlab.com/pwrk/performance-tracker',
  },
];

const essentialLinks = linksList,
  leftDrawerOpen = ref(false);

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}
</script>
